<h2 class="titulo">{{grupoSelecc.nombre}}</h2>
<hr>

<div class="row">
    <div class="col-md-12">
        <img [src]="grupoSelecc.img" class="img-fluid imagen_info" alt="Responsive image">
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-3">

        <h5>Componentes:</h5>
        <ul></ul>
        <li *ngFor="let compo of componentes; let i = index">
            <img [src]="(compo.urlFoto)" class="mr-3 mt-3 rounded-circle imagen-artista"><a [href]="(compo.urlWiki)" target="_blank">{{compo.nombre}}</a> </li>
    </div>

    <div class="col-md-9 info-text">
        <br>
        <p class="font-parrafo"> {{grupoSelecc.info}}</p>
    </div>
</div>

<br>

<div class="row ">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe width="560 " height="315 " [src]="getVideoUrl(grupoSelecc.cancion) " frameborder="0 " allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture " allowfullscreen></iframe>
    </div>
</div>

<div class="row ">
    <div class="buton-back">
        <button class="btn btn-outline-primary btn-sm buton-back" type="button" (click)="back()"><i class="fas fa-undo"></i> Volver</button>

    </div>

</div>