<h2 class="cabecera">Mis Grupos Favoritos</h2>
<hr>

<div class="container">
    <div class="row justify-content-between">
        <div class="col-3">
            <button type="button" class="btn btn-outline-primary btn-sm" [routerLink]="['/add']"><i class="fa fa-plus fa-lg"></i> Nuevo</button>
        </div>
        <div class="col-4">
            <form class="form-inline" [formGroup]="formulario">
                <input type="text" class="form-control form-control-sm" formControlName="txtBuscar" (ngSubmit)="buscarGrupo()" placeholder="Buscar Grupo" aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary btn-sm" type="button" id="buscar" (click)="buscarGrupo()"><i class="fa fa-search fa-sm "></i> Buscar</button>
                    <button *ngIf="filtrar" [disabled]='!filtrar' class="btn btn-outline-info btn-sm" type="button" id="quitarFiltro" (click)="quitarFiltro()"><i class="fa fa-broom fa-sm "></i> Resturar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<br>

<div class="card-columns flex">
    <div class="card shadow " *ngFor=" let grupo of grupoData; let i =index">
        <div class="card-block del-group del-icon ">

            <button type="button" class="btn btn-outline " (click)=delGroup(i)><i class="fa fa-trash fa-sm del-icon "> </i></button>
        </div>
        <div class="embed-responsive embed-responsive-21by9">
            <img alt="Card image cap" class="card-img-top embed-responsive-item imagen" [src]="grupo.logo" />
        </div>
        <div class="card-block">
            <h4 class="card-title">{{grupo.nombre}}</h4>
            <button type="button" class="btn btn-outline-info btn-block" (click)=cargaInfo(i)>Detalles...</button>
        </div>
    </div>
</div>