/* You can add global styles to this file, and also import other style files */

body {
    margin-bottom: 35px;
    bottom: 10px;
}

footer {
    color: steelblue;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.cabecera {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.imagen {
    align-content: center;
    width: 212;
    height: 157px;
    border: 0px;
    display: block;
}

.imagen_info {
    display: block;
    margin: auto;
    width: 460;
    height: 215px;
}

.up {
    margin-top: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.up1 {
    margin-left: 15px;
    margin-right: 15px;
}

.card-form {
    width: 100%;
    background-color: #eeeeee;
    ;
}

.card-text {
    font-size: 12px;
}

.card-title {
    text-align: center;
    color: steelblue;
}

.videobm {
    bottom: 15px;
}