/* You can add global styles to this file, and also import other style files */

footer {
    color: steelblue;
    position: fixed;
    bottom: 0px;
    width: 100%;
    /* text-decoration: none; */
    text-align: center;
}